<div>
    <div style=" background-color: rgba(94, 96, 96, 0.763); width: 100%; height: 300PX;color: aliceblue;" class="d-flex justify-content-center align-items-center flex-column w-100 mt-5">
    
    <div class="footer d-flex justify-content-evenly align-items-center w-100">
        <div class="website mt-3" style="width: 400px; ">
            <h4><i class="fa-solid fa-locust fa-xl me-3"></i>hopperMart</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem tempore deleniti quo tenetur perferendis laboriosam, voluptas recusandae commodi sunt dicta </p>
        </div>
        <div class="links d-flex flex-column">
            <h3>Links</h3>
            <a routerLink="/" style="text-decoration: none; color: aliceblue;">Home Page</a>
            <a routerLink="/user/cart" style="text-decoration: none; color: aliceblue;">Cart Page</a>
            <a routerLink="/user/whislist" style="text-decoration: none; color: aliceblue;">Wishlist</a>
        </div>
        <div class="assistance d-flex flex-column">
            <h3>Assistance</h3>
            <a style="text-decoration: none;">Angular</a>
            <a style="text-decoration: none;">Bootstrap</a>
            <a style="text-decoration: none;">Font awesome </a>
        </div>
        <div class='contact mt-3'>
            <h4 class='mb-3'>Contact Us</h4>
            <div class='d-flex mb-4'>
              <input type="text" class='form-control border ' placeholder='Enter Your Email Id' />
              <button class ='btn btn-success text-white ms-2'>Subscribe</button>
            </div>
            <div class="icons d-flex justify-content-evenly">
                <a ><i class="fa-brands fa-instagram fa-2x"></i></a>
                <a><i class="fa-brands fa-x-twitter fa-2x"></i></a>
                <a ><i class="fa-brands fa-linkedin fa-2x"></i></a>
                <a ><i class="fa-brands fa-facebook fa-2x"></i></a>
 
            </div>
         </div>
        </div>
        <p class="mt-5">Copyright © 2023 hopperMart. Built with React </p>
            </div>
                </div>

