<app-header></app-header>
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://i.pinimg.com/originals/61/a6/2d/61a62d097510f0457d9080f4177b2ca4.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://i.pinimg.com/originals/d4/0b/85/d40b857c7494488125144120fe4cb996.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://wallpaperaccess.com/full/1437797.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<section class="py-5">
    
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5"*ngFor="let product of allproduct">
                <div class="card h-100 p-3">
                    <!-- Product image-->
                    <img routerLink="viewproduct/{{product.id}}" class="card-img-top" [src]="product.image" alt="..." height="250px" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{product.title.slice(0,20)}}..</h5>
                            <!-- Product price-->
                            <span class="text-danger">${{product.price}}</span>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="d-flex justify-content-between">
                            <button class="btn btn-outline-danger mt-auto" (click)="addToWishlist(product)"><i class="fa-solid fa-heart"></i></button>
                                <button class="btn btn-outline-success mt-auto" (click)="addToCart(product)"><i class="fa-solid fa-cart-shopping"></i>
                            </button>
                           </div>
                    </div>
                </div>
            </div>
         
    </div>
</div>
</section>