<app-header></app-header>

<div style="margin-top: 60px;">
    <div *ngIf="allProduct.length==0"  class="d-flex justify-content-center align-items-center flex-column">
        <img src="https://craftzone.in/assets/img/emptycart.png"  alt="no image">
        <h1 class="text-danger fw-bolder ">Your Cart Is Empty...</h1>
        <a href="">Add yourCart</a>
    
    </div>
    <div *ngIf="allProduct.length>0" class="container-fluid px-4 px-lg-5 mt-5">
        <h1 class="text-success text-center">Cart Summary</h1>
       <div class="row w-100">
         <div class="col-md-1"></div>
         <div class="col-md-7">
             <table class="table shadow mt-4  border rounded">
                <thead>
                 <tr>
                     <th>No:</th>
                     <th>Product Name</th>
                     <th>Image</th>
                     <th>Quantity</th>
                     <th>Price</th>
                     <th>Action</th>
                 </tr>
                </thead>
                <tbody>
                 <tr *ngFor="let product of allProduct;let i=index">
                     <td>{{i+1}}</td>
                     <td >{{product.title}}</td>
                     <td ><img [src]="product.image" alt="" width="100px" height="100px"></td>
                     <td >
                         <div class="d-flex">
                             <button (click)="decrementCartProduct(product._id)" class="btn fw-bolder fs-3">-</button>
                             <input type="num" class="form-control text-center" [value]="product.quantity" style="max-width: 3rem;" readonly>
                             <button (click)="incrementCartProduct(product._id)" class="btn fw-bolder fs-4">+</button>
                         </div>
                     </td>
                     <td >
                         ${{product.price}}
                     </td>
                     <td ><button class="btn btn-outline-danger" (click)="removeItem(product._id)"><i class="fa-solid fa-trash"></i></button></td>
                 </tr>
                </tbody>
             </table>
             <div class="d-flex justify-content-center">
                 <button (click)="emptyAllCartProduct()" class="btn btn-outline-danger">Empty cart</button>
                 <button routerLink="/" class="btn btn-outline-success ms-3">Add more Items</button>
             </div>
         </div>
         <div class="col-md-3 d-flex justify-content-center align-items-center ms-5">
             <div class="border shadow rounded p-4">
               <h3>Grand Total:<span class="text-primary">$ {{total}} </span> </h3>
               <button class="btn btn-success mt-3" routerLink="/checkout" (click)="checkout()">CheckOut</button>
             </div>
         </div>
         <div class="col-md-1"></div>
       </div>
     </div>
</div>
